.TUIPassword_field__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
}

.TUIPassword_field__container label {
  font-size: 1.1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.TUIPassword_field__container label strong {
  color: #d32f2f;
}
.TUIPassword_field__container .TUIPassword__input {
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 3px 12px 1px #808080a3;
  border-radius: 5px;
  border-bottom: 1px solid #0000009e;
  background-color: #ffffff;
}
.TUIPassword_field__container .TUIPassword__input input {
  outline: none;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  font-size: 1rem;
  transition: border 0.5s ease-in-out;
}

.TUIPassword_field__container .helper__text {
  font-size: 0.7rem;
  color: gray;
}

.TUIPassword_field__container .error__msg {
  font-size: 0.7rem;
  color: #d32f2f;
}

.TUIPassword_field__container.TUIPassword__error input {
  border-color: #d32f2f;
  border-left: 20px solid #d32f2f;
}

.TUIPassword_field__container.TUIPassword__fullWidth .TUIPassword__input {
  width: 100%;
}
.TUIPassword_field__container.TUIPassword__fullWidth .TUIPassword__input input {
  width: 100%;
}
