.btn__container {
  background-color: green;
  color: lightgreen;
}
.btn__label {
  color: red;
}
.phone {
  &_title {
    color: yellowgreen;
    @media (max-width: 500px) {
      border: 2px solid red;
    }
    body.is_dark & {
      color: white;
    }
  }
  img {
    display: block;
    border: 4px solid yellow;
  }
}

.title {
  font-size: var(--font);

  @at-root html {
    --font: 16px;
  }
}
