/* The Modal (background) */
.TUIModal__container {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.TUIModal__container .TUIModal__content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  box-shadow: 7px 9px 9px 1px #00000033;
  animation: fadeIn 0.5s ease-in;
}

/* Fade In Animation */
@keyframes fadeIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
